.welcome {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #00000088;
    padding: 1rem 4rem;
    border-radius: 1rem;
}

.welcome>p {
    color: white;
}

.welcome>p:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0.25rem 0.25rem 0.25rem;
}

.welcome>p:nth-of-type(2) {
    font-size: 1.5rem;
}

.welcome__poweredby {
    filter: blur(0.25rem);
}